/* <style type="text/css"> */
.question {
    margin: auto;
    width: 50%;
    background: #F6F5F7;
    margin-bottom: 20px;
<!--            border: solid 1px black; -->
}
.button {
    margin: auto;
    margin-bottom: 20px;
    color: white;
    width: 50%;
    background: #2196F3;
    border-radius: 4px;
}
.constructor {
    margin: auto;
    min-height: 20px;
    margin-bottom: 20px;
    padding: 19px;
    width: 50%;
    background: #F6F5F7;
}
.letters {
    margin: auto;
    width: 50%;
    background: #F6F5F7;
}
#cologne{width:100%;font-size:small;margin-bottom: 20px;}
#lcol{float:left;width:25%;}
#rcol{float:right;width:25%;}

/* </style> */